@import url("https://fonts.google.com/specimen/Montserrat");

* {
  font-family: "Montserrat";
}

:root {
  --primary: #fde502;
  --secondary: #d9d9d9;
}

header {
  padding: 0px 20px;
}

.banner {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: normal;
}

image {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.articulo {
  background-color: var(--secondary);
}

.textotitulo {
  color: orange;
}

.herobanner{
    display: none;
}

.titlelogin{
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginitems{
  background-color: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkboxcontainer{
  background-color: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgdetailproduct{
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  align-items: center;
  margin: 0px auto;
}
.subContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 15px;
}
.subSubContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkboxcontainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
}



@media (min-width: 481px) and (max-width: 768px) {

    .banner {
        background-color: greenyellow;
        display: flex;
        flex-direction: column;
        align-items: normal;
        gap: 20px;

      }

  
  .textotitulo{
    display: none;
  }
}

@media (min-width: 769px) {
 
    .textotitulo{
        display: block;
        color: red;
    }

    .loginitems{
      background-color: none;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .checkboxcontainer{
      background-color: none;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
}
 